<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>Sign Up Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/register" style="padding: 120px;">
        <h3>Sign up!</h3>

        <label for="username">Username</label>
        <input name="username" required type="text" autocomplete="off" placeholder="Username" id="username">

        <label for="username">Email</label>
        <input name="email" required type="email" autocomplete="off" placeholder="Email" id="username">

        <label for="password">Password</label>
        <input name="password" required autocomplete="off" type="password" placeholder="Password" id="password">

        <button type="submit">Sign me Up!</button>
        <a href="/login"><button type="button">Already a user? Login here</button></a>
        

    </form>
</body>
</html>